.mat-toolbar{
    background-color: cornflowerblue;
    width: 70%;
    border-radius: 15px;
    justify-content: space-around;
    background-color: white;
    border: 1px solid gray;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 5px;
  }
  .mat-button{
     color: white;
  }
  .spacer{
    flex: 1 1 auto;
  }
  button{
    height: 100% !important;
    margin: 0;
  }
  .header-border{
    padding: 5px;
    height: 100%;
    border: 1px solid #12052e;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  span{
    font-weight: bold;
  }