
<a style="height: 55px;" [routerLink]="'/settings'">hiiiii</a>
<div *ngFor="let chartDataModel of chartDataModels; let i = index">
    <div class="wrapper">
        <tui-input-range ngSkipHydration
        id="input-range-with-key-steps"
        [formControl]="chartDataModel.getDateFilterFormControl()"
        [max]="chartDataModel.getDateFilterMaxValue()"
        [min]="chartDataModel.getDateFilterMinValue()"
    >
        Date Filter
    </tui-input-range>
    </div>
    
<app-chart [chartDataModel]="chartDataModel"></app-chart>
</div>