
.col-md-2{
    text-align: -webkit-center;
    align-content: center;
    padding-bottom: 10px;
}

.col-md-10{
    padding-bottom: 10px;
}

.row{
    text-align: -webkit-center;
    place-items: center;
    margin-top: 15px;
}

p{
    margin: 0;
    padding: 0;
}

.chart-type-col-title{
    text-align: end;
}

.chart-type-col-button{
    text-align: start;
}

.chart-type-row{
    text-align-last: center;
    margin-top: 25px;
}

button{
    margin: 0;
    width: 155px;
}

app-color-picker{
    width: 65px;
    display: inline-grid;
    
}

.data-insertion-title-row{
    margin-top: 55px;
    margin-bottom: 15px;
}

.data-insertion-title-span{
    font-weight: bold;
}

.field-container{
    padding-top: 25px;
}

.date-remove-row{
    margin: 0 !important;
}

.remove-cancel-span{
    color: red;
    font-weight: bold;
}
.update-button{
    margin-top: 25px;
}

.chart-in-header{
    display: block;
    position: sticky;
    top: 0;
    z-index: 1;
    background: white;
}

.background-data-color-row{
    margin-top: 25px;
}