

.row{
    justify-content: center;
}

.chart-container{
    padding: 5px;
    border: 2px solid;
    border-radius: 15px;
    margin-top: 25px;
}

.col-lg-6{
    padding-left: 25px;
    padding-right: 25px;
}

.container{
    padding-bottom: 55px;
}