<div class="container">
    <div class="row add-chart-button-row">
        <div class="col-lg-6">
            <button
size="l"
tuiButton
tuiHintDirection="top"
type="button"
(click)="openAddChartModal()"
>
Add Chart +
</button>
        </div>
    </div>

<app-add-chart *ngIf="isAddChartModalOpen"></app-add-chart>
<app-edit-chart *ngIf="isEditChartModalOpen" [indexChartDataModelForEdit]="indexChartDataModelForEdit" [chartDataModelForEdit]="chartDataModelForEdit"></app-edit-chart>

<div class="chart-container" *ngFor="let chartModel of chartItems$ | async; let i = index">
    <div [style.borderColor]="chartModel.getChartDataColor()" class="row chart-container-row">
        <div class="col-lg-9">
            <app-chart [chartModel]="chartModel"></app-chart>
        </div>
        <div class="col-lg-3 edit-remove-col">
            <div class="row">
                <button (click)="removeChart(i)"
            appearance="flat"
            tuiButton
            type="button"
            class="tui-space_right-3 tui-space_bottom-3"
        >
            <span class="remove-span">
                Remove
            </span>
        </button>
            </div>
            <div class="row">
                <button
                (click)="openEditChartModal(chartModel,i)"
    appearance="accent"
    tuiButton
    type="button"
    class="tui-space_right-3 tui-space_bottom-3"
>
    Edit
</button>

            </div>
        
        </div>
</div>
</div>
</div>
